body {
	padding: 0;
	margin: 0;
	border: none;
	color: #111111;
	background-color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: center;
}

table,tbody,tr,td {
	margin: 0;
	padding: 0;
	border-spacing: 0;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}
ol,ul {
	margin: 0 0 0 1em;
	padding: 0;
}
ol>li,ul>li {
	line-height: 1.5em;
}
ol>li+li,ul>li+li {
	margin-top: 0.5em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	line-height: 1.5em;
	position: relative;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}

input,
textarea {
	font-size: inherit;
}
input:focus,
textarea:focus {
	outline: none;
}

.hardlink_text {
	vertical-align: middle;
}
.hardlink_text:not(:hover)>a.hardlink {
	visibility: hidden;
	opacity: 0;

	-webkit-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s, visibility 0.25s linear 0s;
	-moz-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s, visibility 0.25s linear 0s;
	-o-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s, visibility 0.25s linear 0s;
	transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s, visibility 0.25s linear 0s;
}
a.hardlink {
	display: block;
	visibility: visible;
	position: absolute;
	right: 100%;
	top: 0;
	padding: 0 0.25em 0 0.5em;
	color: #c8c8c8;
	font-weight: bold;

	-webkit-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0.5s, visibility 0s linear 0.5s;
	-moz-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0.5s, visibility 0s linear 0.5s;
	-o-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0.5s, visibility 0s linear 0.5s;
	transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0.5s, visibility 0s linear 0.5s;
}
a.hardlink:hover {
	text-decoration: none;
	color: #cd0e5a;
}
a.hardlink:after {
	content: "#";
}

p+p,
h1+p,h2+p,h3+p,h4+p,h5+p,h6+p,
p+h1,p+h2,p+h3,p+h4,p+h5,p+h6,
h4+h6,.top_margin {
	margin-top: 1em;
}

strong {
	font-size: 1em;
}

code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
code.nowrap {
	display: inline-block;
	white-space: nowrap;
}

textarea.code_textarea {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.codeblock {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	display: block;
	background: #f3f3f3;
	border: 1px solid #c8c8c8;
	overflow-x: auto;
	overflow-y: visible;
	padding: 0;
	line-height: 1.5em;
}
.codeblock_inner {
	display: inline-block;
	padding: 0.5em;
}
.codeblock.codeblock_pre>.codeblock_inner {
	white-space: pre;
}

*::selection {
	color: #ffffff;
	background: #cd0e5a;
	text-shadow: none;
}
*::-moz-selection {
	color: #ffffff ;
	background: #cd0e5a;
	text-shadow: none;
}

.section_id {
}

.js_on:not(.js),
.js_off.js {
	display: none;
}

input[type=checkbox],
input[type=radio] {
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

label.checkbox {
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	vertical-align: middle;
	border: 0.09375em solid #111111;
	border-radius: 0.25em;
	padding: 0.125em;
	position: relative;
	cursor: pointer;
}
label.checkbox:before {
	z-index: -1;
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	content: "";
	border: none;
	border-radius: 0.125em;
	background: #ffffff;
}
label.checkbox:hover:before,
label:not([for]):hover label.checkbox:before {
	border: 0.125em solid #cd0e5a;
}
label.checkbox>input[type=checkbox] {
	position: absolute;
	visibility: hidden;
	display: none;
}
label.checkbox>svg {
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
}
label.checkbox>svg>polygon {
	fill: #111111;
}
label.checkbox.delete_checkbox>svg>polygon:not(:first-child) {
	visibility: hidden;
}
label.checkbox.delete_checkbox:hover>svg>polygon:first-child,
label:not([for]):hover label.checkbox.delete_checkbox>svg>polygon:first-child {
	visibility: hidden;
}
label.checkbox.delete_checkbox:hover>svg>polygon:not(:first-child),
label:not([for]):hover label.checkbox.delete_checkbox>svg>polygon:not(:first-child) {
	visibility: visible;
}
label.checkbox>input[type=checkbox]:checked+svg {
	display: block;
}

textarea {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: transparent;
	border: none;
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a {
	color: #cd0e5a;
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.light_underline {
	color: #c8c8c8;
}
a.light_underline>span,
a.light_underline>code {
	color: #cd0e5a;
}
a.light_nohover_color_hover {
	color: #c8c8c8;
}
a.light_nohover_color_hover:hover {
	color: #cd0e5a;
	text-decoration: none;
}

.colored {
	color: #cd0e5a;
}
.colored_underline {
	text-decoration: underline;
	color: #cd0e5a;
}
.colored_underline>* {
	text-decoration: none;
	color: #111111;
}

.main {
	text-align: left;
	display: inline-block;
	width: 60em;
	vertical-align: middle;
}
.main_table {
	display: table;
	width: 100%;
	position: relative;
}
.main.main_no_overflow {
	overflow: hidden;
}
.main.body {
	margin: 0.5em 0 4em 0;
}
.main.main_full {
	width: 100%;
}



.header_bar {
	position: relative;

	background: #f3f3f3;
	background: -webkit-linear-gradient(180deg, #f9f9f9, #f3f3f3);
	background: -moz-linear-gradient(180deg, #f9f9f9, #f3f3f3);
	background: -o-linear-gradient(180deg, #f9f9f9, #f3f3f3);
	background: linear-gradient(180deg, #f9f9f9, #f3f3f3);

	border-bottom: 1px solid #e5e5e5;
}
.header_table {
	margin: 0.5em 0;
	text-align: left;
}
.header_table td {
	vertical-align: middle;
}
.header_table_cell {
	width: 0;
}
.header_table_cell.header_table_cell_full {
	width: 100%;
}

.header_table_name {
	font-size: 2em;
	line-height: 1.2em;
	white-space: nowrap;
}
.header_table_name_user {
}
.header_table_name_separator {
	display: inline-block;
	margin: 0 0.125em;
	color: #c8c8c8;
}
.header_table_name_title {
}
.header_table_name_title>span {
	font-weight: bold;
}

.header_table_separator {
	vertical-align: middle;
	display: inline-block;
	font-size: 2em;
	height: 1.2em;
	margin: 0 0.5em;
	border-left: 1px solid #c8c8c8;
}

.header_table_description {
	line-height: 1.1em;
}
.header_table_description_name {
	text-transform: lowercase;
	font-weight: bold;
	color: #404040;
}
.header_table_description_body {
	text-transform: lowercase;
	color: #606060;
}

.header_table_view_on_github {
	display: block;
	white-space: nowrap;
	margin-left: 1em;
	text-align: right;
}
.header_table_view_on_github_line1 {
	font-size: 0.8em;
	line-height: 1em;
}
.header_table_view_on_github_line2 {
	line-height: 1em;
}

.light {
	color: #808080;
}
.italic {
	font-style: italic;
}


.demo_code {
	height: 40em;
}
.demo_code_placeholder:after {
	content: "Loading demo...";
	color: #808080;
}
.demo_code_placeholder.demo_code_placeholder_error:after {
	content: "An error occured";
	color: #804040;
}

.demo_options {
}
.demo_option {
	display: inline-block;
	vertical-align: bottom;
	background: #f3f3f3;
	border: 0.0625em solid #c8c8c8;
	padding: 0.25em 0.5em;
	margin: 0 0.5em 0.5em 0;
}
.demo_option.demo_option_selected {
	background: -webkit-linear-gradient(180deg, #f3f3f3, #e5e5e5);
	background: -moz-linear-gradient(180deg, #f3f3f3, #e5e5e5);
	background: -o-linear-gradient(180deg, #f3f3f3, #e5e5e5);
	background: linear-gradient(180deg, #f3f3f3, #e5e5e5);
	border-color: #cd0e5a;
	text-shadow: 0.0625em 0.0625em 0.0625em #ffffff;
}
.demo_info {
	background: #f3f3f3;
	border: 0.0625em solid #c8c8c8;
	padding: 0.5em;
	margin-top: 0.5em;
}

.code_js {
}
.code_js_line {
}
.code_js_line.code_js_line_empty:after {
	content: " ";
	display: inline-block;
	white-space: pre;
	width: 0;
}
.code_js_keyword {
	color: #a01080;
}
.code_js_this {
	color: #f06000;
}
.code_js_literal,
.code_js_literal_alt {
	color: #f06000;
}
.code_js_identifier {
}
.code_js_member {
	color: #0050a0;
}
.code_js_operator {
	color: #d549ea;
}
.code_js_punct {
}
.code_js_comment,
.code_js_comment_multi {
	color: #909090;
}
.code_js_comment.code_js_comment_formal,
.code_js_comment_multi.code_js_comment_formal {
}
.code_js_bracket {
}
.code_js_invalid {
	color: #c99b1e;
}
.code_js_regex {
	color: #a337e0;
}
.code_js_regex_escape {
	color: #e037ca;
}
.code_js_string_single,
.code_js_string_double {
	color: #0080f0;
}
.code_js_string_escape {
	color: #0f8050;
}
.code_js_string_escape_invalid {
	color: #f06000;
}
.code_js_number {
	color: #0080f0;
}
.code_js_whitespace {
	color: #2776ba;
	white-space: pre;
}
.code_js_tab {
	display: inline-block;
	width: 2.2em;
	vertical-align: middle;
	line-height: 0;
	opacity: 0;
	visibility: hidden;
}


